
body {
  margin: 0;
}

@font-face {
  font-family: "Pixel";
  src: url("assets/fonts/Pixel-LCD-7.woff") format("woff");
}

.stage-wrapper {
  display: flex;
  justify-content: center;
  align-items: ceneter;
  max-height: 60vh;
  overflow: hidden;
}

.touch-controls {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  gap: 0.5rem;
}

.touch-controls button {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #333;
  color: white;
  border: 2px solid #333;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

@media (max-width: 600px) {
  #touch-controls {
    flex-wrap: wrap;
    justify-content: center;
  }
  #touch-controls button {
    flex: 1 1 40%;
    margin: 0.3rem;
  }
}